.fretboard_container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 50px 0;
}

@media screen and (max-width: 480px) {
    .fretboard_container {
        margin: 20px 0;
    }
}