.fret {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fret_active {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #c70000;
    color: #fff;
}