.fret {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fret_active {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #c70000;
    color: #fff;
}

.open {
    cursor: pointer;
}  

.open_active {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #c70000;
    color: #fff;
}  