.keyboard {
  display: inline-flex;
  width: 800px;
  padding: 5px;
  background-color: #D9D9D9;
  gap: 2px;
  z-index: 0;
  grid-column: 2 / 3;
}

@media screen and (max-width: 880px) {
  .keyboard {
  width: 600px;
  }
}

@media screen and (max-width: 660px) {
  .keyboard {
    width: 400px;
  }
}