.white {
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  grid-column: span 1;
  z-index: 1;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

.white p {
  visibility: hidden;
  margin: 0 0 5px 0
}

.white:hover {
  background-color: rgb(247, 247, 247);
}

.white_active {
  background-color: #BD0000;
  color: white;
  transition: 0.1s;
}

.white_active p {
  visibility: visible;
}

.white_active:hover {
  background-color: #c70000;
}

.black {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  background-color: #000000;
  color: white;
  width: 25px;
  height: 100px;
  z-index: 2;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.black p {
  visibility: hidden;
  margin: 0 0 5px 0
}

.black:hover {
  background-color: rgb(44, 44, 44);
}

.black_active {
  background-color: #4f0000;
}
.black_active p {
  visibility: visible;
}

.black_active:hover {
  background-color: #630000;
}

.cs {
  grid-column: 2/3;
}

.ds {
  grid-column: 4/5;
}

.fs {
  grid-column: 8/9;
}

.gs {
  grid-column: 10/11;
}

.as {
  grid-column: 12/13;
}

@media screen and (max-width: 660px) {
  .black {
    width: 20px;
  }
}

@media screen and (max-width: 550px) {
  .black {
    width: 25px;
  }
}